In [3]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [4]:
train_data = pd.read_csv("BENZ_train.csv")
test_data = pd.read_csv("BENZ_test.csv")

In [5]:
train_data

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,8405,107.39,ak,s,as,c,d,aa,d,q,...,1,0,0,0,0,0,0,0,0,0
4205,8406,108.77,j,o,t,d,d,aa,h,h,...,0,1,0,0,0,0,0,0,0,0
4206,8412,109.22,ak,v,r,a,d,aa,g,e,...,0,0,1,0,0,0,0,0,0,0
4207,8415,87.48,al,r,e,f,d,aa,l,u,...,0,0,0,0,0,0,0,0,0,0
4208,8417,110.85,z,r,ae,c,d,aa,g,w,...,1,0,0,0,0,0,0,0,0,0

In [6]:
test_data

,ID,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,1,az,v,n,f,d,t,a,w,0,...,0,0,0,1,0,0,0,0,0,0
1,2,t,b,ai,a,d,b,g,y,0,...,0,0,1,0,0,0,0,0,0,0
2,3,az,v,as,f,d,a,j,j,0,...,0,0,0,1,0,0,0,0,0,0
3,4,az,l,n,f,d,z,l,n,0,...,0,0,0,1,0,0,0,0,0,0
4,5,w,s,as,c,d,y,i,m,0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,8410,aj,h,as,f,d,aa,j,e,0,...,0,0,0,0,0,0,0,0,0,0
4205,8411,t,aa,ai,d,d,aa,j,y,0,...,0,1,0,0,0,0,0,0,0,0
4206,8413,y,v,as,f,d,aa,d,w,0,...,0,0,0,0,0,0,0,0,0,0
4207,8414,ak,v,as,a,d,aa,c,q,0,...,0,0,1,0,0,0,0,0,0,0
4208,8416,t,aa,ai,c,d,aa,g,r,0,...,1,0,0,0,0,0,0,0,0,0

In [7]:
train_data.shape

(4209, 378)

In [8]:
test_data.shape

(4209, 377)

# checking for NULL Values

In [9]:
for i in range(len(train_data.columns)):
    if train_data.iloc[:,i].isnull().sum() == 0 :
        continue
    else:
        print(i,"th column has null values")

In [10]:
for i in range(len(test_data.columns)):
    if test_data.iloc[:,i].isnull().sum() == 0 :
        continue
    else:
        print(i,"th column has null values")

# therefore both train data and test data has no NULL Values

# label encoding

In [11]:
le = LabelEncoder()

In [12]:
for i in train_data.columns:
    if train_data[i].dtype == "object":
        train_data[i] = le.fit_transform(train_data[i])

In [13]:
train_data

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,32,23,17,0,3,24,9,14,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,32,21,19,4,3,28,11,14,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,20,24,34,2,3,27,9,23,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,20,21,34,5,3,27,11,4,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,20,23,34,5,3,12,3,13,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,8405,107.39,8,20,16,2,3,0,3,16,...,1,0,0,0,0,0,0,0,0,0
4205,8406,108.77,31,16,40,3,3,0,7,7,...,0,1,0,0,0,0,0,0,0,0
4206,8412,109.22,8,23,38,0,3,0,6,4,...,0,0,1,0,0,0,0,0,0,0
4207,8415,87.48,9,19,25,5,3,0,11,20,...,0,0,0,0,0,0,0,0,0,0
4208,8417,110.85,46,19,3,2,3,0,6,22,...,1,0,0,0,0,0,0,0,0,0

In [14]:
for i in test_data.columns:
    if test_data[i].dtype == "object":
        test_data[i] = le.fit_transform(test_data[i])

In [15]:
test_data

,ID,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,1,21,23,34,5,3,26,0,22,0,...,0,0,0,1,0,0,0,0,0,0
1,2,42,3,8,0,3,9,6,24,0,...,0,0,1,0,0,0,0,0,0,0
2,3,21,23,17,5,3,0,9,9,0,...,0,0,0,1,0,0,0,0,0,0
3,4,21,13,34,5,3,31,11,13,0,...,0,0,0,1,0,0,0,0,0,0
4,5,45,20,17,2,3,30,8,12,0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,8410,6,9,17,5,3,1,9,4,0,...,0,0,0,0,0,0,0,0,0,0
4205,8411,42,1,8,3,3,1,9,24,0,...,0,1,0,0,0,0,0,0,0,0
4206,8413,47,23,17,5,3,1,3,22,0,...,0,0,0,0,0,0,0,0,0,0
4207,8414,7,23,17,0,3,1,2,16,0,...,0,0,1,0,0,0,0,0,0,0
4208,8416,42,1,8,2,3,1,6,17,0,...,1,0,0,0,0,0,0,0,0,0

# removing unneccesary columns
#columns with low variance

In [16]:
for i in train_data.columns[2:]:
    if train_data[i].var() < 0.01 and test_data[i].var() < 0.01 :
        train_data.drop(i,axis = 1,inplace = True)
        test_data.drop(i,axis = 1,inplace = True)
    else:
        continue

In [17]:
train_data.shape

(4209, 234)

In [18]:
train_data

,ID,y,X0,X1,X2,X3,X5,X6,X8,X10,...,X367,X368,X371,X373,X374,X375,X376,X377,X378,X379
0,0,130.81,32,23,17,0,24,9,14,0,...,0,0,0,0,0,0,0,1,0,0
1,6,88.53,32,21,19,4,28,11,14,0,...,0,0,0,0,0,1,0,0,0,0
2,7,76.26,20,24,34,2,27,9,23,0,...,0,0,0,0,0,0,0,0,0,0
3,9,80.62,20,21,34,5,27,11,4,0,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,20,23,34,5,12,3,13,0,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,8405,107.39,8,20,16,2,0,3,16,0,...,0,0,0,0,0,1,0,0,0,0
4205,8406,108.77,31,16,40,3,0,7,7,0,...,0,0,0,0,0,0,1,0,0,0
4206,8412,109.22,8,23,38,0,0,6,4,0,...,0,0,0,0,0,0,0,1,0,0
4207,8415,87.48,9,19,25,5,0,11,20,0,...,0,0,0,0,1,0,0,0,0,0
4208,8417,110.85,46,19,3,2,0,6,22,0,...,0,0,0,0,0,1,0,0,0,0

In [19]:
test_data.shape

(4209, 233)

In [20]:
test_data

,ID,X0,X1,X2,X3,X5,X6,X8,X10,X12,...,X367,X368,X371,X373,X374,X375,X376,X377,X378,X379
0,1,21,23,34,5,26,0,22,0,0,...,0,0,0,0,0,0,0,0,1,0
1,2,42,3,8,0,9,6,24,0,0,...,0,1,0,0,0,0,0,1,0,0
2,3,21,23,17,5,0,9,9,0,0,...,0,0,0,0,0,0,0,0,1,0
3,4,21,13,34,5,31,11,13,0,0,...,0,0,0,0,0,0,0,0,1,0
4,5,45,20,17,2,30,8,12,0,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,8410,6,9,17,5,1,9,4,0,0,...,0,0,0,0,1,0,0,0,0,0
4205,8411,42,1,8,3,1,9,24,0,0,...,0,0,0,0,0,0,1,0,0,0
4206,8413,47,23,17,5,1,3,22,0,0,...,0,0,0,0,1,0,0,0,0,0
4207,8414,7,23,17,0,1,2,16,0,0,...,0,0,0,0,0,0,0,1,0,0
4208,8416,42,1,8,2,1,6,17,0,0,...,0,0,0,0,0,1,0,0,0,0

# TRAIN & TEST DATA

In [21]:
x_train = train_data.drop(["ID","y"],axis =1)
y_train = train_data["y"]
x_test = test_data.drop(["ID"],axis=1)

In [22]:
print("shape of x_train",x_train.shape)
print("shape of y_train",y_train.shape)
print("shape of x_test",x_test.shape)

shape of x_train (4209, 232)
shape of y_train (4209,)
shape of x_test (4209, 232)

# DIMENSIONALITY REDUCTION

In [29]:
from sklearn.decomposition import PCA
pca = PCA(n_components=30)

In [30]:
pca.fit(x_train)
x_train_pca =  pca.transform(x_train)
print("BEFORE PCA",x_train.shape)
print("after PCA",x_train_pca.shape)

BEFORE PCA (4209, 232)
after PCA (4209, 30)

In [31]:
pca.fit(x_test)
x_test_pca =  pca.transform(x_test)
print("BEFORe PCA",x_test.shape)
print("after PCA",x_test_pca.shape)

BEFORe PCA (4209, 232)
after PCA (4209, 30)

# MODEL FITTING XGBOOSTING

In [32]:
from xgboost import XGBRegressor
model = XGBRegressor(n_estimators=1000, max_depth=7, eta=0.01, subsample=0.7, colsample_bytree=0.8)

In [33]:
from sklearn.model_selection import KFold,cross_val_score
k_fold = KFold(n_splits=10, shuffle=True, random_state=7)

In [34]:
scores = cross_val_score(model, x_train_pca, y_train, scoring='neg_mean_absolute_error', cv=k_fold, n_jobs=-1)

In [35]:
scores_ = abs(scores)
print("average MAE :%.3f (%.3f)"%(scores_.mean(),scores_.std()))

average MAE :5.806 (0.406)

# Predicting for TEST DATA

In [36]:
model.fit(x_train_pca,y_train)
y_pred = model.predict(x_test_pca)

In [37]:
y_pred

array([ 79.64863 , 101.10397 ,  86.5497  , ..., 108.832596, 111.76135 ,
        94.795204], dtype=float32)